# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.idea/
/model/liuhuiyu-cloud-util/target/
/model/liuhuiyu-core/target/
/model/liuhuiyu-dto/target/
/model/liuhuiyu-jpa/target/
/model/liuhuiyu-jpa-dm/target/
/model/liuhuiyu-json/target/
/model/liuhuiyu-spring-util/target/
/model/liuhuiyu-test/target/
/model/liuhuiyu-web/target/
/model/liuhuiyu-db/liuhuiyu-jpa/target/
/model/liuhuiyu-db/liuhuiyu-jpa-dm/target/
/model/liuhuiyu-db/liuhuiyu-jpa-oracle/target/
