# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.idea/
/model/liuhuiyu-core/target/
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/FromPrototype.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/IFind.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/IOperating.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/IPaging.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/ISerializationJson.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/MasterDetailDto.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/Operating.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/Paging.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/Sort.Direction.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/Sort.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/FromPrototype.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/IFind.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/IOperating.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/IPaging.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/ISerializationJson.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/MasterDetailDto.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/Operating.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/package-frame.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/package-summary.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/package-tree.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/package-use.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/Paging.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/Sort.Direction.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/Sort.html
/model/liuhuiyu-dto/target/apidocs/allclasses-frame.html
/model/liuhuiyu-dto/target/apidocs/allclasses-noframe.html
/model/liuhuiyu-dto/target/apidocs/constant-values.html
/model/liuhuiyu-dto/target/apidocs/deprecated-list.html
/model/liuhuiyu-dto/target/apidocs/help-doc.html
/model/liuhuiyu-dto/target/apidocs/index.html
/model/liuhuiyu-dto/target/apidocs/index-all.html
/model/liuhuiyu-dto/target/apidocs/overview-tree.html
/model/liuhuiyu-dto/target/apidocs/package-list
/model/liuhuiyu-dto/target/apidocs/script.js
/model/liuhuiyu-dto/target/apidocs/serialized-form.html
/model/liuhuiyu-dto/target/apidocs/stylesheet.css
/model/liuhuiyu-dto/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/model/liuhuiyu-dto/target/javadoc-bundle-options/package-list
/model/liuhuiyu-dto/target/maven-archiver/pom.properties
/model/liuhuiyu-dto/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/model/liuhuiyu-dto/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/model/liuhuiyu-dto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/model/liuhuiyu-dto/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/model/liuhuiyu-dto/target/maven-javadoc-plugin-stale-data.txt
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/class-use/AbstractDmView.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/class-use/AbstractDmView.SelectBuilder.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/class-use/DmCondition.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/DmCondition.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/package-frame.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/package-summary.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/package-tree.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/package-use.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/class-use/DmDaoUtil.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/DmDaoUtil.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/package-frame.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/package-summary.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/package-tree.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/util/package-use.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/AbstractDmView.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/AbstractDmView.SelectBuilder.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/package-frame.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/package-summary.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/package-tree.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/package-use.html
/model/liuhuiyu-jpa-dm/target/apidocs/allclasses-frame.html
/model/liuhuiyu-jpa-dm/target/apidocs/allclasses-noframe.html
/model/liuhuiyu-jpa-dm/target/apidocs/constant-values.html
/model/liuhuiyu-jpa-dm/target/apidocs/deprecated-list.html
/model/liuhuiyu-jpa-dm/target/apidocs/help-doc.html
/model/liuhuiyu-jpa-dm/target/apidocs/index.html
/model/liuhuiyu-jpa-dm/target/apidocs/index-all.html
/model/liuhuiyu-jpa-dm/target/apidocs/overview-frame.html
/model/liuhuiyu-jpa-dm/target/apidocs/overview-summary.html
/model/liuhuiyu-jpa-dm/target/apidocs/overview-tree.html
/model/liuhuiyu-jpa-dm/target/apidocs/package-list
/model/liuhuiyu-jpa-dm/target/apidocs/script.js
/model/liuhuiyu-jpa-dm/target/apidocs/stylesheet.css
/model/liuhuiyu-jpa-dm/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/model/liuhuiyu-jpa-dm/target/javadoc-bundle-options/package-list
/model/liuhuiyu-jpa-dm/target/maven-archiver/pom.properties
/model/liuhuiyu-jpa-dm/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/model/liuhuiyu-jpa-dm/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/model/liuhuiyu-jpa-dm/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/model/liuhuiyu-jpa-dm/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/model/liuhuiyu-jpa-dm/target/maven-javadoc-plugin-stale-data.txt
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/class-use/AbstractView.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/class-use/Comment.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/Comment.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/package-frame.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/package-summary.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/package-tree.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/comment/package-use.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/AbstractSqlCommandPackage.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/Condition.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/ConditionImpl.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/ISqlWhere.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/SelectSql.Builder.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/SelectSql.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/class-use/WhereFullByParameterList.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/AbstractSqlCommandPackage.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/Condition.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/ConditionImpl.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/ISqlWhere.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/package-frame.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/package-summary.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/package-tree.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/package-use.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/SelectSql.Builder.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/SelectSql.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/sql/WhereFullByParameterList.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/AbstractView.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/package-frame.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/package-summary.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/package-tree.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/jpa/package-use.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/class-use/DataBaseException.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/class-use/DataBaseUtil.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/class-use/ObjectArray.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/class-use/ObjectToFieldValue.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/DataBaseException.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/DataBaseUtil.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/ObjectArray.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/ObjectToFieldValue.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/package-frame.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/package-summary.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/package-tree.html
/model/liuhuiyu-jpa/target/apidocs/com/liuhuiyu/util/package-use.html
/model/liuhuiyu-jpa/target/apidocs/allclasses-frame.html
/model/liuhuiyu-jpa/target/apidocs/allclasses-noframe.html
/model/liuhuiyu-jpa/target/apidocs/constant-values.html
/model/liuhuiyu-jpa/target/apidocs/deprecated-list.html
/model/liuhuiyu-jpa/target/apidocs/help-doc.html
/model/liuhuiyu-jpa/target/apidocs/index.html
/model/liuhuiyu-jpa/target/apidocs/index-all.html
/model/liuhuiyu-jpa/target/apidocs/overview-frame.html
/model/liuhuiyu-jpa/target/apidocs/overview-summary.html
/model/liuhuiyu-jpa/target/apidocs/overview-tree.html
/model/liuhuiyu-jpa/target/apidocs/package-list
/model/liuhuiyu-jpa/target/apidocs/script.js
/model/liuhuiyu-jpa/target/apidocs/serialized-form.html
/model/liuhuiyu-jpa/target/apidocs/stylesheet.css
/model/liuhuiyu-jpa/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/model/liuhuiyu-jpa/target/javadoc-bundle-options/package-list
/model/liuhuiyu-jpa/target/maven-archiver/pom.properties
/model/liuhuiyu-jpa/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/model/liuhuiyu-jpa/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/model/liuhuiyu-jpa/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/model/liuhuiyu-jpa/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/model/liuhuiyu-jpa/target/maven-javadoc-plugin-stale-data.txt
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/class-use/IDataChange.html
/model/liuhuiyu-dto/target/apidocs/com/liuhuiyu/dto/IDataChange.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/class-use/AbstractSqlCommandPackageDm.html
/model/liuhuiyu-jpa-dm/target/apidocs/com/liuhuiyu/jpa/dm/sql/AbstractSqlCommandPackageDm.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/class-use/SpringUtil.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/package-frame.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/package-summary.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/package-tree.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/package-use.html
/model/liuhuiyu-spring-util/target/apidocs/com/liuhuiyu/spring/util/SpringUtil.html
/model/liuhuiyu-spring-util/target/apidocs/allclasses-frame.html
/model/liuhuiyu-spring-util/target/apidocs/allclasses-noframe.html
/model/liuhuiyu-spring-util/target/apidocs/constant-values.html
/model/liuhuiyu-spring-util/target/apidocs/deprecated-list.html
/model/liuhuiyu-spring-util/target/apidocs/help-doc.html
/model/liuhuiyu-spring-util/target/apidocs/index.html
/model/liuhuiyu-spring-util/target/apidocs/index-all.html
/model/liuhuiyu-spring-util/target/apidocs/overview-tree.html
/model/liuhuiyu-spring-util/target/apidocs/package-list
/model/liuhuiyu-spring-util/target/apidocs/script.js
/model/liuhuiyu-spring-util/target/apidocs/stylesheet.css
/model/liuhuiyu-spring-util/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/model/liuhuiyu-spring-util/target/javadoc-bundle-options/package-list
/model/liuhuiyu-spring-util/target/maven-archiver/pom.properties
/model/liuhuiyu-spring-util/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/model/liuhuiyu-spring-util/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/model/liuhuiyu-spring-util/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/model/liuhuiyu-spring-util/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/model/liuhuiyu-spring-util/target/maven-javadoc-plugin-stale-data.txt
